body {
  background: #004ff9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fff94c,
    #004ff9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #fff94c,
    #004ff9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid-container {
  display: grid;
  float: left;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 0px;
}
.master {
  width: 1000px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);

  padding: 0;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-gap: 1px;
  float: left;
  grid-template-rows: repeat(var(--grid-rows), 100px);
  grid-template-columns: repeat(var(--grid-cols), 100px);
}
.io {
  display: inline-block;
}
.controls {
  border: 1px solid red;
}
.controls--item {
  height: 100px;
  width: 100px;
}

.controls--item:hover {
  height: 110px;
  width: 110px;
  cursor: pointer;
}

.output {
  border: 1px solid darkblue;
}
.output--h2 {
  margin: 0px;
  color: #ff0000;
  margin-right: 40px;
  font-size: 40px;
  text-align: center;
}

.go {
  width: 100px;
  height: 50px;
  background-color: rgb(193, 66, 66);
  color: white;
  font-weight: bolder;
  border-radius: 8px;
}

#printout {
  position: fixed;
  left: 1100px;
  float: right;
  text-align: center;
  font-size: xx-large;
  padding-right: 40px;
  color: rgb(99, 3, 254);
  border: 1px solid black;
  width: 300px;
  justify-content: right;
}

#oopsy {
  position: fixed;
  left: 1100px;
  float: right;
  text-align: center;
  font-size: xx-large;
  padding-right: 40px;
  color: red;

  border: 1px solid black;
  width: 300px;
}
