.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 0px;
}
.master {
  width: 1000px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);

  padding: 0;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(var(--grid-rows), 100px);
  grid-template-columns: repeat(var(--grid-cols), 100px);
}

.controls {
  border: 1px solid red;
}
.controls--item {
  height: 100px;
  width: 100px;
}

.controls--item:hover {
  height: 110px;
  width: 110px;
  cursor: pointer;
}

.output {
  border: 1px solid darkblue;
}
.output--h2 {
  margin: 0px;
  color: #2196f3;
}

.go {
  width: 100px;
  height: 50px;
  background-color: rgb(193, 66, 66);
  color: white;
  font-weight: bolder;
  border-radius: 8px;
}
